<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PluginAdBrixRM.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PluginAdBrixRm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1304B4A6212D641200EA287F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>130FD01021352A8100BC2033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>130FD01721352AEB00BC2033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED3DC201B54F6D7004A5C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED3DC2B1B54F6D7004A5C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
